.actionButton {
    background-color: #0078e7;
    border: transparent;
    border-radius: 5px;
    color: #ffffff;
    display: block;
    font-size: 1.5em;
    margin: 40px auto;
    outline: none;
    padding: 20px;
}

.actionButton:hover {
  background-color: #004c92;
}

.resultImage {
  display: block;
  margin: 0px auto;
  max-width: 90%;
}